version: '3.9'
services:
  api-gateway:
    build: ./api-gateway
    ports:
      - "8080:8080"
    environment:
      - CUSTOMER_SERVICE_URL=http://customer-service:8081
      - PRODUCT_SERVICE_URL=http://product-service:8082
      - INVENTORY_SERVICE_URL=http://inventory-service:8083
      - ORDER_SERVICE_URL=http://order-service:8084
    depends_on:
      - customer-service
      - product-service
      - inventory-service
      - order-service

  customer-service:
    build: ./customer-service
    ports:
      - "8081:8081"

  product-service:
    build: ./product-service
    ports:
      - "8082:8082"

  inventory-service:
    build: ./inventory-service
    ports:
      - "8083:8083"

  order-service:
    build: ./order-service
    ports:
      - "8084:8084"
